<div class="environment">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img
        src="./assets/img/athlete-671209_960_720.jpg"
        width="100%"
        height="100%"
      />
      <div class="text">Long Jump</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img
        src="./assets/img/athletics-651132_960_720.jpg"
        width="100%"
        height="100%"
      />
      <div class="text">Pole Jump</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img
        src="./assets/img/relay-race-655353_960_720.webp"
        width="100%"
        height="100%"
      />
      <div class="text">Running</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 5</div>
      <img
        src="./assets/img/shot-putter-558158_960_720.jpg"
        width="100%"
        height="100%"
      />
      <div class="text">Shot Put</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 5</div>
      <img
        src="./assets/img/swimmers-79592_960_720.webp"
        width="100%"
        height="100%"
      />
      <div class="text">Swimming</div>
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  <br />

  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
    <span class="dot" (click)="currentSlide(4)"></span>
    <span class="dot" (click)="currentSlide(5)"></span>
  </div>
</div>
<div id="textDecathlon">
  <h1>DECATHLON</h1>
  <p>
    The decathlon is a combined event in athletics consisting of ten track and
    field events. Events are held over two consecutive days and the winners are
    determined by the combined performance in all. Performance is judged on a
    points system in each event, not by the position achieved. The decathlon is
    contested mainly by male athletes, while female athletes typically compete
    in the heptathlon. Traditionally, the title of "World's Greatest Athlete"
    has been given to the person who wins the decathlon, thus the world's
    greatest athlete of all times is the record-man of decathlon (Kevin Mayer as
    of September 2018). This began when King Gustav V of Sweden told Jim Thorpe,
    "You, sir, are the world's greatest athlete" after Thorpe won the decathlon
    at the Stockholm Olympics in 1912. The event is similar to the pentathlon
    held at the ancient Greek Olympics, and also similar to a competition called
    an "all-around", which was contested at the United States amateur
    championships in 1884. Another all-around was held at the 1904 Summer
    Olympics. The modern decathlon first appeared at the 1912 Games. The current
    official decathlon world record holder is French Kevin Mayer, who scored a
    total of 9,126 points at the 2018 Décastar in France.
  </p>
</div>
